<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0"
         metadata-complete="true">

    <description>
        MyFirstServlet
    </description>
    <display-name>MyFirstServlet</display-name>

    <request-character-encoding>UTF-8</request-character-encoding>


    <servlet>
        <servlet-name>myFirstServlet</servlet-name>
        <servlet-class>com.app.web.MyFirstServlet</servlet-class>
<!--        <load-on-startup>1</load-on-startup>-->
    </servlet>
    <servlet-mapping>
        <servlet-name>myFirstServlet</servlet-name>
        <url-pattern>/first</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>getServlet</servlet-name>
        <servlet-class>com.app.web.GetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getServlet</servlet-name>
        <url-pattern>/getServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>postServlet</servlet-name>
        <servlet-class>com.app.web.PostServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>postServlet</servlet-name>
        <url-pattern>/postServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>creatCookieServlet</servlet-name>
        <servlet-class>com.app.web.cookie.CreateCookieServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>creatCookieServlet</servlet-name>
        <url-pattern>/creatCookieServlet</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>myFirstFilter</filter-name>
        <filter-class>com.app.web.filter.MyFirstFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>myFirstFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>com.app.web.listener.MyListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.app.web.listener.MyHttpSessionListener</listener-class>
    </listener>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.xhtml</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>
